

.header__hover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    
    &__logo {
            display: flex;
            width: 160px;
            height: 49px;
            padding-bottom: 50px;
            &--name {
              display: block;
              font-size: 25px;
              font-family: $main-font;
              color: white;
              font-weight: bold;
            }
          &__svg{
            height: 30px;
            width: 30px;
            transform: translateY(8px);
            fill: $decore-color;
            }  
            
          &--txt {
                display: block;
                font-size: 8.75px;
                font-family: $main-font;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
              }
        
    }
    
    &__block {

    }

    &--nav {

    }

    &--info {
        font-size: 22px;
        font-family: $secondary-font;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 15px;

    }

         &--info:hover {
            color: $decore-text-color;
        }

    

    &__btn {
        

    }

    &__imput {

    }
}      