.how-to {
  background-color: $bg-color;
  padding-bottom: 50px;

  &__heading {
    @include font($main-font, 20px, 700, $main-text-color, 1.5);
    text-align: center;
    margin-bottom: 40px;
  }
}

.prog-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    width: 292px;
    min-height: 268px;
    box-shadow: 0px 0px 26px 8px rgba(29, 29, 27, 0.11);
    padding: 22px;
    margin: 0 auto;
    text-align: center;

    &--icon {
      fill: $decore-color;
    }

    &:hover,
    &:focus
     {
      background-color: $decore-color;

      .prog-list__item--icon {
        fill: $bg-color;
      }

      .prog-list__item__heading {
        color: $reverse-text-color;

        &::after {
          background-color: $bg-color;
        }
      }

      .prog-list__item__content {
        color: $reverse-text-color;
      }
    }

    &__heading {
      @include font($main-font, 13px, 700, $main-text-color, 1.5);
      display: block;
      padding-bottom: 20px;
      letter-spacing: 0.6px;
    }

    &__heading::after {
      background-color: $decore-color;
      display: block;
      content: '';
      width: 25px;
      height: 2px;
      margin: 0 auto;
      margin-top: 20px;
    }

    &__content {
      @include font($main-font, 11px, 400, $desc-text-color, 20px);
      letter-spacing: 0.6px;
    }
  }
}

.icon-study {
  width: 44px;
  height: 46px;
}

.icon-mobile {
  width: 44px;
  height: 46px;
}

.icon-book {
  width: 52px;
  height: 38px;
}

.icon-communication {
  width: 44px;
  height: 44px;
}

.icon-student {
  width: 40px;
  height: 46px;
}

.icon-audio-book {
  width: 50px;
  height: 46px;
}

@media (max-width: 767px) {
  .prog-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .prog-list {
    margin: 0 auto;
    width: 640px;
  }

  .how-to__heading {
    @include font($main-font, 26px, 700, $main-text-color, 1.5);
    text-align: center;
    margin-bottom: 36px;
  }

  .prog-list__item {
    width: 290px;
    min-height: 267px;
    box-shadow: 0px 0px 26px 8px rgba(29, 29, 27, 0.11);
    padding: 22px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 1279px) {
  .prog-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .how-to__heading {
    @include font($main-font, 42px, 700, $main-text-color, 1.5);
    text-align: left;
    margin-bottom: 50px;
  }

  .prog-list__item__heading {
    @include font($main-font, 18px, 700, $main-text-color, 1.5);
    display: block;
    padding-bottom: 20px;
    letter-spacing: 0.6px;
  }

  .prog-list__item__content {
    @include font($main-font, 15px, 400, $desc-text-color, 2);
    letter-spacing: 0.8px;
  }

  .prog-list {
    justify-content: space-between;
    width: 1210px;
  }

  .prog-list__item {
    width: 390px;
    min-height: 340px;
    box-shadow: 0px 0px 26px 8px rgba(29, 29, 27, 0.11);
    padding: 22px;
    margin: 0;
    text-align: center;
  }

  .prog-list__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 20px;
  }
}

@media (min-width: 1680px) {
  .how-to__heading {
    @include font($main-font, 46px, 700, $main-text-color, 1.5);
    text-align: left;
    margin-bottom: 60px;
  }

  .prog-list {
    width: 1340px;
  }

  .prog-list__item__heading {
    @include font($main-font, 20px, 700, $main-text-color, 1.5);
    display: block;
    padding-bottom: 20px;
    letter-spacing: 0.6px;
  }

  .prog-list__item__content {
    @include font($main-font, 18px, 400, $desc-text-color, 1.8);
    letter-spacing: 0.6px;
  }

  .prog-list__item {
    width: 430px;
    min-height: 400px;
    box-shadow: 0px 0px 26px 8px rgba(29, 29, 27, 0.11);
    padding: 40px;
    margin: 0;
    text-align: center;
  }
}
