.main-problems {
  background: linear-gradient(to bottom, $bg-second-color 26%, $bg-second-color 74%, $bg-color 74%,);

  &__heading {
    @include font($main-font, 20px, 700, $reverse-text-color, 1.5);
    text-align: left;
    padding: 48px 0px 0px 20px;

    &--span {
      color: $decore-text-color;
    }
  }

  &__item {
    @include font($main-font, 13px, 700, $main-text-color, 1.5);
    text-align: left;
    margin-bottom: 12px;
    display: block;

    &:last-of-type {
      margin-bottom: 0px;
    }

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 2px;
      background-color: $decore-color;
      margin-right: 5px;
    }
  }

  .item-decor::before {
    counter-increment: counter-list;
    content: '' counter(counter-list, decimal-leading-zero);
    text-align: left;
    color: $decore-color;
  }

  &__head {
    margin-bottom: 20px;
  }

  &__float-section {
    min-width: 280px;
    background-color: $bg-color;
    padding: 22px 28px 30px 30px;
    box-shadow: 0px 0px 26px 8px rgba(29, 29, 27, 0.11);
    counter-reset: counter-list;
  }

  &__wrapper {
    padding-bottom: 46px;
  }
}

.block {
  display: block;
}

.main-problems__parag {
  margin-top: 16px;
} 

/*@media (max-width: 767px) {
  .main-problems__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 939px) {
  .main-problems__item:not(:nth-last-child(even)) {
    margin-bottom: 20px;
  }
}*/
