.program {
  background-image: url('../images/s3-pic-sm.png'), linear-gradient($bg-second-color 0% 90.5%, $bg-color 90.5% 100%);
  background-repeat: no-repeat;
  background-position: 100% 74%;


  &-wrapper {
    padding: 43px 0 35px;
  }

  &-title {
    @include font($main-font, 20px, 800, $reverse-text-color, 33px);
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__item {
    position: relative;
    padding-left: 94px;

    &:not(:last-child) {
      &::before {
        content: '';
        @include space(2px, 100%, inline-block);
        position: absolute;
        top: 15px;
        left: 63px;
        background-color: #546264;
      }
    }

    &:not(:last-child) {
      padding-bottom: 31px;
    }

    &-title {
      @include font($main-font, 15px, 700, $reverse-text-color, 29px);
      letter-spacing: 1.65px;
      text-transform: uppercase;
      margin: 0 auto 9px;

      &::before {
        content: '';
        @include space(10px, 10px, inline-block);
        position: absolute;
        top: 10px;
        left: 59px;
        border-radius: 50%;
        background-color: $decore-color;
      }
    }
  }

  &__course-materials {
    p:first-of-type {
      padding-right: 40px;
    }

    &-title {
      @include font($main-font, 13px, 500, $decore-text-color, 29px);
      letter-spacing: 0.65px;
      margin-bottom: 7px;

      &::before {
        content: '';
        @include space(25px, 2px, inline-block);
        vertical-align: super;
        background-color: $decore-color;
        margin-right: 14px;
      }
    }

    &-desc {
      @include font($main-font, 11px, 400, $desc-text-color, 20px);
      letter-spacing: 0.55px;
    }
  }
}

.whywe {
  &-title {
    @include font($main-font, 20px, 800, $reverse-text-color, 30px);
    letter-spacing: 1px;
    margin-bottom: 18px;
  }

  &__list {
    counter-reset: count-list;
    box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
    background-color: $bg-color;
    padding: 13px 28px 20px;
  }

  &__item {
    &::before {
      content: '';
      @include space(25px, 2px, inline-block);
      vertical-align: middle;
      background-color: $decore-color;
      margin-right: 7px;
    }

    &-desc {
      @include font($main-font, 13px, 700, $main-text-color, 20px);
      letter-spacing: 0.65px;
    }

    &-counter::before {
      counter-increment: count-list;
      content: counter(count-list, decimal-leading-zero);
      display: inline-block;
      @include font($main-font, 14px, 500, $decore-text-color, 29px);
      margin-bottom: 2px;
    }
  }
}

@media (max-width: 767px) {
  .program {
    &__course-materials:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  .whywe {
    &-title {
      padding-right: 20px;
    }

    &__item {
      &:nth-child(3) {
        padding-right: 10px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {}

@media (min-width: 1280px) and (max-width: 1599px) {}

@media (min-width: 768px) {
  .program {
    background-image: url('../images/s3-pic-md.png'), linear-gradient($bg-second-color 0% 88.6%, $bg-color 88.6% 100%);
    background-position: 100% 65%;

    &-wrapper {
      padding: 45px 0 152px;
    }

    &-title {
      @include font($main-font, 26px, 800, $reverse-text-color, 63px);
      letter-spacing: 1.3px;
      text-align: left;
      margin-bottom: 30px;
    }

    &__item {
      padding-left: 144px;

      &:not(:last-child)::before {
        left: 91px;
      }

      &-title::before {
        left: 87px;
      }

      &-course {
        @include flex($jc: flex-start, $ai: stretch);
      }
    }

    &__course-materials {
      width: 180px;
    }
  }

  .whywe {
    &-title {
      @include font($main-font, 26px, 800, $reverse-text-color, 62px);
      letter-spacing: 1.3px;
      text-align: center;
      margin-bottom: 7px;
    }

    &__list {
      @include flex(space-between);
      flex-wrap: wrap;
      padding: 18px 90px 26px 108px;
    }

    &__item {
      width: 218px;

      &:not(:nth-last-child(-n+2)) {
        margin-bottom: 16px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1210px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1340px;
  }
}
