.program {
  background-image: url('../images/pic1.png'), linear-gradient($bg-second-color 0% 90.5%, $bg-color 90.5% 100%);
  background-repeat: no-repeat;
  background-position: 100% 78%;


  &-wrapper {
    padding: 50px 0 42px;
  }

  &-title {
    @include font($main-font, 20px, 800, $reverse-text-color, 33px);
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    padding-left: 94px;

    &:not(:last-child) {
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 63px;
        width: 2px;
        height: 100%;
        background-color: #546264;
      }
    }

    &:not(:last-child) {
      padding-bottom: 38px;
    }

    &-title {
      @include font($main-font, 15px, 700, $reverse-text-color, 29px);
      letter-spacing: 1.65px;
      text-transform: uppercase;
      margin: 0 auto 16px;

      &::before {
        position: absolute;
        top: 10px;
        left: 59px;
        display: inline-block;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $decore-color;
      }
    }
  }

  &__course-materials {
    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &-title {
      @include font($main-font, 13px, 500, $decore-text-color, 29px);
      letter-spacing: 0.65px;
      margin-bottom: 15px;

      &::before {
        display: inline-block;
        content: '';
        width: 25px;
        height: 2px;
        vertical-align: super;
        background-color: $decore-color;
        margin-right: 14px;
      }
    }

    &-desc {
      @include font($main-font, 11px, 400, $desc-text-color, 20px);
      letter-spacing: 0.55px;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }
}

.whywe {
  &-title {
    @include font($main-font, 20px, 800, $reverse-text-color, 30px);
    letter-spacing: 1px;
    margin-bottom: 18px;
    padding-right: 20px;
  }

  &__list {
    counter-reset: count-list;
    background-color: $bg-color;
    box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);
    padding: 13px 28px 20px;
  }

  &__item {
    &::before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 2px;
      vertical-align: middle;
      background-color: $decore-color;
      margin-right: 7px;
    }

    &-desc {
      @include font($main-font, 13px, 700, $main-text-color, 20px);
      letter-spacing: 0.65px;
    }

    &-counter::before {
      counter-increment: count-list;
      content: counter(count-list, decimal-leading-zero);
      display: inline-block;
      @include font($main-font, 14px, 500, $decore-text-color, 29px);
      margin-bottom: 2px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:nth-child(3) {
      padding-right: 10px;
    }
  }
}
