.testimonials {
  padding: 48px 0 54px;
}
.testimonial-title {
  font-size: 20px;
  font-weight: 800;
  font-family: $main-font;
  line-height: 26.5px;
  color: $secondary-text-color;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

// testimonials-content__list

.testimonials-content__list {
  margin-bottom: 16px;
}
.content__list-item {
  box-shadow: 4px 6.928px 34.96px 11.04px rgba(29, 29, 27, 0.09);
}
.content-limitation {
  width: 80px;
  height: 80px;
  margin: 0 auto 18px;
}
.content-limitation img {
  border-radius: 50px;
}
.social-link-vk {
  width: 25px;
  height: 14px;
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 16px;
}
.content-name {
  font-size: 13px;
  font-weight: 800;
  font-family: $main-font;
  line-height: 30px;
  color: $decore-text-color;
  letter-spacing: 0.65px;
}
.first-information {
  font-size: 11px;
  font-weight: 500;
  font-family: $main-font;
  line-height: 17px;
  color: $desc-text-color;
  letter-spacing: 0.55px;
  text-align: center;
  margin-bottom: 18px;
}
.review {
  font-size: 11px;
  font-weight: 500;
  font-family: $main-font;
  line-height: 20px;
  color: $main-text-color;
  letter-spacing: 0.55px;
  text-align: center;
}
.read-more {
  display: inline;
  font-size: 11px;
  font-weight: 500;
  font-family: $main-font;
  line-height: 20px;
  color: $decore-text-color;
  letter-spacing: 0.55px;
  text-decoration: underline;
  text-transform: unset;
}
@media (max-width: 767px) {
  .content__list-item {
    padding: 22px 0 30px;
  }
  .review-content {
    position: relative;
  }
  .review {
    padding: 0 20px;
  }
  .review-span {
    display: none;
  }
  .content-name {
    text-align: center;
  }
}

//testimonials__list

.testimonials__list {
  display: flex;
  width: 185px;
  margin: 0 auto;
  overflow: hidden;
}
.testimonials__item:not(:last-child) {
  margin-right: 11px;
}
.review-icon {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border-color: transparent;
  background-position: center;
  outline: none;
}
.icon--1 {
  background-image: url(../images/1.png);
}
.icon--2 {
  background-image: url(../images/2.png);
}
.icon--3 {
  background-image: url(../images/3.png);
}
.icon--4 {
  background-image: url(../images/4.png);
}
.icon--5 {
  background-image: url(../images/5.png);
}
.icon--6 {
  background-image: url(../images/6.png);
}
.icon--7 {
  background-image: url(../images/7.png);
}

// testimonials-button

.testimonials-button__list {
  display: flex;
  justify-content: space-between;
  width: 280px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.testimonials-button {
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .testimonial-title {
    font-size: 26px;
  }
  .testimonials-slider {
    position: relative;
  }

  .content__list-item {
    display: flex;
    padding: 42px 0 46px;
  }
  .review-face {
    padding: 30px 44px 0 36px;
  }
  .content-name {
    font-size: 18px;
  }
  .first-information {
    font-size: 13px;
    text-align: left;
  }
  .review {
    text-align: left;
  }
  .review-information {
    padding-right: 60px;
  }
  .testimonials__list {
    overflow: visible;
    justify-content: center;
  }
  .testimonials-button__list {
    width: 688px;
    top: 44%;
  }
}
