.testimonials {
  padding: 48px 0 54px;
}
.testimonial-title {
  font-size: 20px;
  font-weight: 800;
  font-family: $main-font;
  line-height: 26.5px;
  color: $secondary-text-color;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

// testimonials-content__list

.content__list-item {
  padding: 22px 0 30px;
  box-shadow: 4px 6.928px 34.96px 11.04px rgba(29, 29, 27, 0.09);
}
.content-limitation {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.content-limitation img {
  border-radius: 50px;
  width: 80px;
  height: 80px;
}
.content-name {
  font-size: 13px;
  font-weight: 800;
  font-family: $main-font;
  line-height: 30px;
  color: $decore-text-color;
  letter-spacing: 0.65px;
  text-align: center;
}
.first-information {
  font-size: 11px;
  font-weight: 500;
  font-family: $main-font;
  line-height: 17px;
  color: $desc-text-color;
  letter-spacing: 0.55px;
  text-align: center;
  margin-bottom: 18px;
}
.review {
  font-size: 11px;
  font-weight: 500;
  font-family: $main-font;
  line-height: 20px;
  color: $main-text-color;
  letter-spacing: 0.55px;
  text-align: center;
}
