.warranty {
  background-color: #f1f1f1;

  @media (min-width: 768px) {
    background-color: $bg-color;
  }

  &__list {
    padding: 28px 20px 28px 20px;
    position: relative;

    @media (min-width: 768px) {
      background-color: #f1f1f1;
    }
  }

  &__section-title {
    @include font($main-font, 26px, 700, $main-text-color, 1.5);
    text-align: center;
    background-color: $bg-color;
    padding-bottom: 24px;
  }
}

.warranty__list-item {
  @include font($main-font, 11px, 500, $main-text-color, 1.5);
  position: relative;
  padding-left: 30px;
  text-align: left;

  &:not(:last-child):before {
    border-left: 1px dotted #bababa;
    content: '';
    height: 100%;
    background-repeat: no-repeat;
    padding-left: 10px;
    position: absolute;
    left: 1px;
  }
}

.text-dec-orange {
  color: $decore-color;
}

.joy {
  display: block;
  padding-bottom: 20px;
}

.joy-last {
  display: block;
  padding-bottom: 0px;
}

.joy:before {
  background-image: url(../images/orange_one_m.png);
  content: '';
  display: inline-block;
  width: 15px;
  height: 19px;
  background-repeat: no-repeat;
  padding-left: 20px;
  position: absolute;
  left: -5px;
}

.joy-last:before {
  background-image: url(../images/orange_one_m.png);
  content: '';
  display: inline-block;
  width: 15px;
  height: 19px;
  background-repeat: no-repeat;
  padding-left: 20px;
  position: absolute;
  left: -5px;
}

@media (min-width: 768px) {

  .joy {
    padding-bottom: 28px;
  }

  .warranty__list {
    padding: 40px 60px;

    &-item {
      padding: 0 40px 0 40px;
      line-height: normal;
      font-size: 13px;
    }

    &__section-title {
      font-size: 26px;
      font-weight: 800;
    }
  }
}

@media (min-width: 1280px) {
  .warranty {
    &__section-title {
      font-size: 42px;
      margin: 35px 35px 0 35px;
    }

    &__list-item {
      font-size: 18px;
    }
    
    &__list {
      line-height: normal;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.6px;
    }
  }

  .joy {
    padding-bottom: 28px;
  }
}

@media (min-width: 1680px) {
  .warranty {
    &__section-title {
      font-size: 46px;
      margin: 42px 35px 0 35px;
      padding-bottom: 42px;
    }

    &__list-item {
      font-size: 21px;
    }
    
    &__list {
      line-height: normal;
      font-size: 21px;
      font-weight: 500;
      letter-spacing: 0.6px;
    }
  }

  .joy {
    padding-bottom: 32px;
  }
}