html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  height: 100%;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 688px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1210px;
  }
}

@media (min-width: 1680px) {
  .container {
    width: 1340px;
  }
}

body {
  font-family: $main-font, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
