/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import './helpers/fonts.scss';
@import './helpers/variables.scss';
@import './helpers/mixins.scss';
@import './components/slick.scss';
@import 'base.scss';

//COMPONENTS
@import './components/button.scss';
@import './components/slick-theme.scss';

//SECTIONS
@import './sections/header.scss';
@import './sections/problems.scss';
@import './sections/howto.scss';
@import './sections/program.scss';
@import './sections/teacher.scss';
@import './sections/warranty.scss';
@import './sections/testimonials.scss';
@import './sections/contacts.scss';
@import './sections/footer.scss';
