@mixin font($ff, $fs, $fw, $fc, $lh: 1.2) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  color: $fc;
  line-height: $lh;
}

@mixin space($ww, $hh, $bb: block) {
  display: $bb;
  width: $ww;
  height: $hh;
}

@mixin flex($jc: flex-start, $ai: stretch) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
