$main-font: "Montserrat", sans-serif;
$secondary-font: "Arimo", sans-serif;

$main-text-color: #18191d;
$secondary-text-color: #111517;
$reverse-text-color: #ffffff;
$desc-text-color: #858585;
$decore-text-color: #ff6b08;

$decore-color: #ff6b08;
$bg-color: #ffffff;
$bg-second-color: #111517;

